body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.board {
  margin: 20px;
  
}
.row{
  display:flex;
}
.cell {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border: 1px solid #999;
}
.fillCell {
  width: 50px;
  height: 50px;
  background-color: mediumseagreen;
  border: 1px solid #999;
}